NEXT_PUBLIC_RPC_URL=https://services.polkadothub-rpc.com/testnet
NEXT_PUBLIC_VERIFIER_ADDRESS=0xVERIFIER_CONTRACT_ADDRESS
NEXT_PUBLIC_AGENTPAY_ADDRESS=0xAGENTPAY_CONTRACT_ADDRESS

NEXT_PUBLIC_XELLAR_APP_ID=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_XELLAR_ENV=sandbox
